body {
    font-family: 'Poppins';
    font-weight: 400;
    padding: 0 20px 0 20px;
}

.option {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px 0 20px 0;
}

.quotes {
    color: darkslategray;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.quotes:hover {
    background-color: blueviolet;
    color: white;
}

.jokes {
    color: darkslategray;
    border: 2px solid darkslategray;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.jokes:hover {
    background-color: blueviolet;
    color: white;
}

.content-section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid darkslategray;
    border-radius: 20px;
    padding: 10px;
    max-width: 200px;
}

.content>p {
    color: darkslategray;
    text-align: center;
    font-size: 18px
}

.content>button {
    position: absolute;
    top: 400px;
    font-weight: 700;
    background-color: tomato;
    color: white;
    border: 2px solid tomato;
    position: inherit;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    padding: 10px 30px;
}

.content>button:hover {
    background-color: blueviolet;
    border-color: blueviolet;
    color: rgb(255, 255, 255);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}